<h1>{{title}}</h1>
<table>
    <tr>
        <td>Sname</td>
        <td>Email</td>
        <td>Phone</td>
        <td>Major</td>
        <td>Student_id</td>
    </tr>
    {{#each Student}}
    <tr>
        <td>{{Sname}}</td>
        <td>{{Email}}</td>
        <td>{{Phone}}</td>
        <td>{{Dname}}</td>
        <td>{{Student_id}}</td>
    </tr>
    {{/each}}
</table>

<h1>{{ title2 }}</h1>
<table>
    <tr>
        <td>Class_id</td>  
        <td>Cname</td>
        <td>Professor</td>
    </tr>
    {{#each Class}}
    <form method="post">
    <tr>
        <td>{{class_id}}</td>
        <td>{{Cname}}</td>
        <td>{{Professor}}</td>
    </tr> 
    </form>
    {{/each}}
</table>
